@page
@using Acme.BookStore.Web.Pages.vtable
@model IndexModel
@{
      <div id="app">
        <v-app>
            <v-container>
                <v-data-table :items="db"></v-data-table>
            </v-container>
        </v-app>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@3.3.20/dist/vuetify.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/vuetify@3.1.0/styles.css" rel="stylesheet">
    <script>
        const { createApp } = Vue
        const { createVuetify } = Vuetify
        const vuetify = createVuetify()
        const app = Vue.createApp( {
            template:`
                <v-container>
                    <v-data-table>
                        <thead>
                            <tr>
                                <th class="text-left">
                                    Name
                                </th>
                                <th class="text-left">
                                    Surname
                                </th>
                                <th class="text-left">
                                    Age
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="item in db">
                                <td>{{ item.name }}</td>
                                <td>{{ item.surname }}</td>
                                <td>{{ item.age }}</td>
                            </tr>
                        </tbody>
                    </v-data-table>
                </v-container>


                <v-app>
                    <v-container>
                        <VDataTable :items="db"></VDataTable>
                    </v-container>
                </v-app>
            `,
            data() {
                return {
                    db: []
                }
            },
            methods: {
                fetchData() {
                    fetch('./data.json').then(response => response.json()).then(data => { this.db = data; });
                }
            },
            mounted() {
                this.fetchData();
            }
        });
        app.use(Vuetify)
        app.mount('#app')
    </script>
}